html, body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

paper-toolbar {
  display: block;
  height: 192px;
  background-color: #3f51b5;
}

paper-menu a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1em;
  text-transform: capitalize;
}

paper-menu a:hover {
  text-decoration: underline;
}
