html, body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

paper-toolbar {
  display: block;
  height: 192px;
  background-color: #C43A8C;
  color: #fff;
}

#main-menu {
  height: 100%;
}

paper-menu a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1em;
  text-transform: capitalize;
  vertical-align: top;
}

paper-menu a span {
  margin-left: .5em;
  line-height: 100%;
}

paper-menu a:hover {
  text-decoration: underline;
}

paper-material {
  display: block;
  background: #FFF;
  padding: 1em;
  margin-bottom: 1em;
}

#mainContainer {
  background-color: #F9F9F9;
}
