doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= name || "Multicolour Polymer"

    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    meta(name="generator" content="Multicolour - Multicolour-Polymer")

  body
    script(src="./js/entry.js")
