link(rel="import" href="./bower_components/polymer/polymer.html")

dom-module(id="data-overview")
  template
    .data-overview
      each name in names
        #{name + "-list"}
        
  script.
    Polymer({
      is: "data-overview"
    })
